<div class="container mt-4">
  <h2 class="mb-3">Submitted Tests</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <ng-container *ngIf="tests.length > 0; else noTests">
    <table class="table table-bordered table-striped">
      <thead class="table-light">
        <tr>
          <th>Pet Name</th>
          <th>Pet Type</th>
          <th>Owner</th>
          <th>Locality</th>
          <th>Test Type</th>
          <th>Status</th>
          <th>Result</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of tests">
          <td>{{ test.petName }}</td>
          <td>{{ test.petType }}</td>
          <td>{{ test.ownerName }}</td>
          <td>{{ test.locality }}</td>
          <td>{{ test.testType }}</td>
          <td>{{ test.status }}</td>
          <td>{{ test.result }}</td>
          <td>{{ test.dateSubmitted | date: 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noTests>
    <div class="alert alert-info">No tests available.</div>
  </ng-template>
</div>
